<script>
  window.result = {{{result}}}
</script>
<h1>{{title}}</h1>

<div id="map"></div>

<div class="header">

<p>Welcome to {{title}}</p>
<p id="hospitales"></p>
<button id="check">Check</button>

<a href="/auth/update/{{_id}}">UPDATE</a>
<a href="/auth/delete"><button id="check">DELETE</button></a>

<script>
  console.log({{{result}}})
  window.result = {{{result}}}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>
<script src="/javascripts/script.js"></script>

